body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-container {
    width: 360px;
    background-color: navy;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    color: #fff;
}
.header {
    text-align: center;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    font-size: 14px;
    background-color: none  ;
    a{
        text-decoration: none;
        span{
            display: block;
            background-color: red   ;
            padding: 10px 20px;
            border-radius: 20px;
            color: white;
            font-weight: 600;
        
        }
    }
}
.headline {
    font-size: 18px;
    margin: 10px 0;
}
.highlight {
    color: red;
}
.profile-card {
    background-color: #e2cf00;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}
.profile-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.home-section {
margin-top: 10px;
    color: #000;
    background-color: #ece800;
    padding: 10px;
    border-radius: 10px;
}
.personal-details {
    background-color: #e3d400;
            padding: 20px;
            border-radius: 10px;
            width: 300px;
    ul {
    list-style-type: none;
    padding-left: 0;
}
}
.section {
            background-color: #f3f700;
            padding: 20px;
            border-radius: 10px;
            width: 300px;
}
h2 {
    margin-top: 0;
    border-bottom: 1px solid blue;
    padding-bottom: 5px;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
li {
    margin-bottom: 5px;
}
.hobbies {
            background-color: #fffb00;
            padding: 20px;
            border-radius: 10px;
            width: 300px;
        }
        .hobbies h2 {
            margin-top: 0;
            border-bottom: 2px solid blue;
            padding-bottom: 5px;
        }
        .hobbies ul {
            list-style-type: disc;
            padding-left: 20px;
            margin-bottom: 0;
        }
        .hobbies li {
            margin-bottom: 5px;
        }
.contacts {
     background-color: #f1f500;
            padding: 20px;
            border-radius: 10px;
            width: 300px;
        h2 {
            margin-top: 0;
            border-bottom: 2px solid blue;
            padding-bottom: 5px;
            ul {
                list-style-type: disc;
                padding-left: 20px;
                margin-bottom: 0;
                li {
                    margin-bottom: 5px;
                }
            }
        }
        }    